.header{
    z-index: 10;
    background-color: #009f63;
    width: 100%;
    height: 60px;
    position: fixed;
}
body{
    margin: 0%;
}

.logo{
    margin-left: 20px;
}

.option{
    left: 600px;
    top: 21px;
    padding-left: 30%;
    position: absolute;
    cursor: pointer;
}
.option img{
    left: 500px;
    top: -6px;
    padding-left: 30%;
    position: absolute;
}

.option a{
    font-family:tahoma;
    font-weight: 700;
    font-size: 14px;
    margin-left: 20px;
    text-decoration: none;
    color: white;
}

.content1{
    margin: 0%;
    width: 100%;
    
}

.left img{
    width: 28% ;
    float: left;
    margin-top: 90px;
    height: 400px;
}
#text{
    z-index: -1;
    position: absolute;
    color: #009f63;;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 27px;
    font-family: tahoma;
    top: 510px;
    left: 63px;
}
.text2{
    z-index: -1;
    position: absolute;
    color: #009f63;;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:#fff;
    border: 3px solid #009f63;
    font-size: 20px;
    font-weight: bold;
    font-family:tahoma;
    top: 590px;
    left: 80px;
    width: 200px;
    height: 45px;

}

.ved iframe{
    width: 72%;
    height: 800px;
    float: left;
}

.two{
    margin: 0%;
    width: 100%;
}
.two img{
    width: 100%;
}

.TextTwo{
    
    color:white;
    font-weight: bold;
    font-size: 30px;
    font-family: tahoma;
}
.TextTwo h1{
    position: absolute;
    top: 950px;
    left: 63px;
    
}
.p1{
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: 200px;
    font-stretch: normal;
    font-size: 30px;
    line-height: 2px;
    font-family: Nobel, Helvetica, Arial, sans-serif;
    position: absolute;
    top: 1070px;
    left: 63px;

}

.p2{
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: 200px;
    font-stretch: normal;
    font-size: 30px;
    line-height: 2px;
    font-family: Nobel, Helvetica, Arial, sans-serif;
    position: absolute;
    top: 1105px;
    left: 63px;

}
.banner-button{
    position: absolute;
    top: 1190px;
    left: 63px;
    background-color:white;
    color: #009f63;
    width: 200px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.content3 img{
    margin-top: -4px;
    width: 100%;
    height: 700px;
}

.cock{
    position: absolute;
    top: 1850px;
    left: 430px;
    background: #FE5887;
    color: white;
    cursor: pointer;
    width: 480px;
    height: 100px;
    font-size: 25px;
    font-family:tahoma;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content4 img{
    margin-top: -4px;
    width: 100%;
    height: 700px;
}

.Cooking{
    position: absolute;
    top: 2600px;
    left: 430px;
    background: #6ba13f;
    color: white;
    cursor: pointer;
    width: 480px;
    height: 100px;
    font-size: 25px;
    font-family:tahoma;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.content5 img{
    margin-top: -4px;
    width: 100%;
    height: 700px;
}

.SeeAllRecipes{
    position: absolute;
    top: 3300px;
    left: 430px;
    background: #c064ac;
    color: white;
    cursor: pointer;
    width: 450px;
    height: 100px;
    font-size: 25px;
    font-family:tahoma;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contentsix{
    margin: 0px;
    width: 100%;
}

.SectionOne{
    width: 50%;
    height: 600px;
    float: left;
}


.sec1 img{
    position: absolute;
    top: 3800px;
    padding-left: 0px;
}
.sec1img img{
    position: absolute;
    height: 100px;
    width: 250px;
    top: 4300px;
    left: 213px;
    padding-left: 0px; 
}

.secTwo{
    margin-top: -5px;
    width: 50%;
    height: 855px;
    float: left;
    background-color: #81818228;


}   

.secTwo img{
    position: absolute;
    top: 4210px;
    left: 90px;
    height: 300px;
    width: 400px;
    padding-left: 50%;
    
    
}
.Text h1{
    position: absolute;
    top: 3750px;
    left: 770px;
    font-size: 70px;
    font-family:tahoma;
    color: #009e5f;
    text-transform: uppercase;
    font-weight: bold;

}
.para{
    position: absolute;
    top: 4050px;
    left: 770px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #818182;
}
.dot{
    position: absolute;
    top: 230px;
    left: 100px;
    height: 12px;
    width: 12px;
    background-color: rgb(243, 21, 21);
    border-radius: 50%;
    display: inline-block;
}
.bottom{
    margin: 0px;
    width: 100%;
    
}

.bottom img{
    width: 100%;
    height: 890px;
    float: left;
}
.b img{
    position: absolute;
    top: 4700px;
    left: 700px;
    width: 40%;
    height: 350px;
    
}
.box{
    position: absolute;
    top: 5250px;
    left: 120px;
    width: 80%;
    height: 130px;
    background-color: #dedef0c0;
}
.fa{
    margin-top: 10px;
    color: #636363;
    letter-spacing: 40px;
  
}
.fa-facebook{
    margin-left: 350px;
}

.last-text {
    position: absolute;
    top: 5290px;
    left: 120px;
    width: 80%;
    
    
}
.last-text a{
    text-decoration: none;
    color: #636363;
    
    padding-left: 60px;
}
.last-p{
    position: absolute;
    top: 5335px;
    left: 220px;
    width: 80%;
}
.last-p p{
    margin-top: -1px;
    font-size: 19px;
    color: #636363;
    height: 50px;
}